
.note {
    color: #333;
    position: relative;
    width: 300px;
    margin: 10 auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: Satisfy;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    float: left;
  }

  .note span:before {
    content: '✕';
    font-size: 20px;
  }

  .note span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .yellow {
    background: #eae672;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  .crossed {
    text-decoration: line-through;
  }

  #notes-taken {
    padding: 20px;
  }

  #notes-taken:after {
    content: "";
    clear: both;
    display: table;
  }